/* основной белый цвет #ffffff */
/* вторичный белый цвет #F5F4FA */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* основной акцент цвет #2196F3 */
/* цвет ховера основной кнопки #188CE8 */
/* цвет фона героя и подвала #2F303A */
/* цвет текста адреса rgba(255, 255, 255, 0.6) */
/* цвет логотипа #000000 */
/* цвет нижней рамки хедера #ececec */
/* цвет бордера проектов */
:root {
  --primery-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --prymery-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-color: #2f303a;
  --header-border-color: #ececec;
  --project-border-color: #eeeeee;
}
/* Тело */
body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
/* Скрытый титул */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* панель навигации */
.header {
  border-bottom: 1px solid var(--header-border-color);
  margin-left: auto;
  margin-right: auto;
}
.header-container,
.nav,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
}
.nav .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--primery-text-color);
}
.icon-contakts {
  margin-right: 10px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts {
  margin-left: auto;
}
.site-nav {
  margin-left: 93px;
}
/* цвета, размеры текста */
.site-nav .link.current {
  color: var(--prymery-accent-color);
}
.filter .button.current {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
}
.logo.link {
  color: var(--prymery-accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .logo-header {
  color: var(--logo-color);
}
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Ховер и фокус ссылок */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus,
.our-team .link {
  color: var(--prymery-accent-color);
  fill: var(--prymery-accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Секция Герой */
.hero.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgoverlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero.button {
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
.hero.button:hover,
.hero.button:focus {
  background-color: var(--secondary-accent-color);
}
/*особенности компании*/
.features.section,
.our-works.section,
.our-team.section,
.portfolio.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-works.section {
  padding-top: 0;
}
.features .container {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.features-block {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--secondary-white-color);
  border-radius: 4px;
}
.features.list {
  display: flex;
}
.features .item {
  flex-basis: calc(100% / 4);
}
.features .item + .item {
  margin-left: 30px;
}
.title {
  color: var(--secondary-text-color);
}
.our-works.title,
.our-team-section.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.features.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features.text {
  font-size: 14px;
  line-height: 1.71;
}
.our-works.list {
  display: flex;
}
.our-works.title {
  margin-bottom: 50px;
}
.our-works .item + .item {
  margin-left: 30px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Наша команда */
.our-team .list {
  display: flex;
}
.our-team .item {
  background-color: var(--primery-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list.social {
  margin-top: 16px;
  justify-content: space-between;
}
.our-team .link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
}
.our-team .link:hover,
.our-team .link:focus {
  fill: var(--primery-white-color);
  background-color: var(--prymery-accent-color);
}
.our-team .item + .item {
  margin-left: 30px;
}
.our-team-section.title {
  margin-bottom: 50px;
}
.our-team.section {
  background-color: var(--secondary-white-color);
  margin-left: auto;
  margin-right: auto;
}
.our-team.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.position {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.our-team.block {
  padding: 30px 32px;
}
/* Фильтр портфолио */
.filter.list {
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item + .item {
  margin-left: 8px;
}
.item .button {
  display: block;
  padding: 6px 22px;
}
.filter.list {
  display: flex;
}
.button {
  font-family: inherit;
  display: inline-block;
  background-color: var(--secondary-white-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
}
/* Секция портфолио */
.project.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.item-text {
  padding: 20px 24px;
  border: solid var(--project-border-color);
  border-width: 0 1px 1px 1px;
}
.project.title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project.type {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Подвал сайта */
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-list.item:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}
.logo .logo-footer {
  color: var(--primery-white-color);
}
.geolocation.link {
  color: var(--primery-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts.link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-text-color);
}
